/* This is my own style file */

body {
  margin: 25px;
  background-color: rgb(201,211,190);
  font-family: Lora, garamond, serif;
  font-size: 16px;
}

h1 {
  font-family: Ubuntu, arial, sans-serif;
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

a {
  color: black;
}

a:hover {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portrait {
  float: left;
  max-width: 150px;
  aspect-ratio: 1;
  padding: 10px 10px;
  border-radius: 50%;
}

.about-flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
}


.about-flex-container img {
  float: left;
  max-width: 300px;
  max-height: 400px;
  aspect-ratio: 3/4;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item-right {
  padding: 10px;
  flex: 70%;
}


.topnav {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgba(1,1,1,0);
}

.topnav a {
  float: left;
  color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px:
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(1,1,1,0.2);
  color: white;
}

.topnav a.active:hover {
  background-color: #ddd;
  color: black;
}

.header {
  background-color: #ffffffaa;
  min-height: 170px;
  max-width: 99%;
  padding: 14px 14px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.container img {
  max-width: 100%;
  aspect-ratio: 4/3
}

.container > div {
  max-width: 33%;
  margin-top: 0px;
  vertical-align: middle;
}

@media only screen and (max-width: 700px) {
	.container > div {
		max-width: 50%;
  	}
	.about-flex-container {
		flex-direction: column;
  	}
}

@media only screen and (max-width: 430px) {
	.container > div {
		max-width: 100%;
 	}
 	.social-flex-container {
		flex-flow: row wrap;
		justify-content: flex-start;
	}
        .header img {
                max-width: 90%;
        }

}

.box {
  height: 70px;
  width: 100%;
  margin: auto;
}

.footer {
  text-align: left;
  margin-top: 20px;
}

.social-flex-container { 
  padding: 10px 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.fa {
  padding: 20px;
  min-width: 30px;
  aspect-ratio: 1;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  background: rgb(221,231,210);   
}

.fa-envelope {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-orcid {
  color: white;
}

.fa-instagram {
  color: white;
}
