---
---

@import "{{ site.theme }}";

$fonts: Helvetica, Arial, sans-serif;
$text_colour: #304048;
$hover_colour: #587787;

body {
  background-color: #e9ede5;
  padding:50px;
  font: 14px/1.5 $fonts;
  color: $text_colour;
  font-weight:400;
}

a {
  color: $text_colour;
  text-decoration:none;
}

a:hover, a:focus {
  color: $hover_colour;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color: $hover_colour;
}

.wrapper {
  width:860px;
  margin:0 auto;
}
